<!DOCTYPE html>
<section class="section advantages__section">
    <div class="container">
        <h2 class="section__title visually-hidden">Advantages</h2>
        <ul class="advantages">
            <li class="advantages__item">
                <p class="advantages__number">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__number">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__number">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>