
<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item text-focus-in--one _anim-items _anim-no-hide">
        <p class="advantages__number">721</p>
        <p class="advantages__text ">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item text-focus-in--two _anim-items _anim-no-hide">
        <p class="advantages__number ">16kg</p>
        <p class="advantages__text ">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item text-focus-in--thre _anim-items _anim-no-hide">
        <p class="advantages__number ">84</p>
        <p class="advantages__text ">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>