<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item ">
        <p class="advantages__number advantages__number--one _anim-items">721</p>
        <p class="advantages__text text-focus-in _anim-items">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__number advantages__number--two _anim-items">16kg</p>
        <p class="advantages__text text-focus-in _anim-items">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__number advantages__number--thre _anim-items">84</p>
        <p class="advantages__text text-focus-in _anim-items">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>