<section class="gallery">
  <div class="container">
    <h2 class="">gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="" type="" />
          <source media="" srcset="" type="" />
          <source media="" srcset="" type="" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
    </ul>
  </div>
</section>
