<!DOCTYPE html>
<header class="header">
  <div class="container header__container">
    <a class="logo" href="#" aria-label="logo">
      <svg class="logo__icon" width="199" height="50">
        <use href=".//images/icons.svg#logo"></use>
      </svg>
    </a>
    <button class="btn-menu is-open" type="button" aria-expanded="false" data-menu-button>
      <svg width="20" height="12" aria-label="switsh mobile menu">
        <use class="icon__burger" href=".//images/icons.svg#icon-burger-open"></use>
        <use class="icon__close" href=".//images/icons.svg#icon-burger-close"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav__list">

        <li class="nav__item ">
        <li class="nav__item"><a class="nav__link" href="./index.html">Home</a></li>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="button button__header" type="button"><span class="button__title"> Buy now</span>

      <svg class="icon__vector" width="4" height="8">
        <use class="vector" href=".//images/icons.svg#vector-button"></use>
      </svg>
    </button>
  </div>

</header>
<div class="mobile-menu" data-menu>
  <button class="button__mobile-menu" type="button"><span class="button__title"> Buy now</span>
    <svg class="icon__vector" width="4" height="8">
      <use class="vector" href=".//images/icons.svg#vector-button"></use>
    </svg>
  </button>
  <nav class="nav-mobile">
    <ul class="nav-mobile__list">
      <li class="nav-mobile__item">
        <a class="nav-mobile__link" href="./index.html">Home</a>
      </li>
      <li class="nav-mobile__item">
        <a class="nav-mobile__link" href="#about">About us</a>
      </li>
      <li class="nav-mobile__item">
        <a class="nav-mobile__link" href="#about">How it’s made?</a>
      </li>
      <li class="nav-mobile__item">
        <a class="nav-mobile__link" href="#products">Our products</a>
      </li>
      <li class="nav-mobile__item">
        <a class="nav-mobile__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </nav>

</div>