<!DOCTYPE html>
<header class="header">
  <div class="container header__container">
    <a class="logo" href="#" aria-label="logo">
      <svg class="logo__icon" width="199" height="50">
        <use href=".//images/icons.svg#logo"></use>
      </svg>
    </a>
    <button class="btn-menu" type="button" data-menu-button>
      <svg class="btn-menu__icon" width="20" height="12">
        <use class="btn-menu__burger" href=".//images/icons.svg#icon-burger-open"></use>
        <use class="btn-menu__close" href=".//images/icons.svg#icon-burger-close"></use>
      </svg>
    </button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item ">
            <a class="nav__link nav__link--current" href="#home">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#made">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#products">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="button button__header" type="button"><span class="button__title"> Buy now</span>
       
        <svg class="icon__vector" width="4" height="8">
          <use class="vector" href=".//images/icons.svg#vector-button"></use>
        </svg>
      </button>
    </div>
 
</header>