<!DOCTYPE html>
<header class="header">
    <div class="container">
        <a class="logo" href="#" aria-label="logo">
            <svg class="logo__icon" width="199" height="50">
                <use href="#"></use>
            </svg>icecream</a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#home">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#about">About us</a></li>
                <li class="nav__item"><a class="nav__link" href="#made">How it’s made?</a></li>
                <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
                <li class="nav__item"><a class="nav__link" href="#contact">Contact</a></li>
            </ul>
        </nav>
        <button class="button">Buy now
            <svg class="icon__vector" width="4" height="8">
                <use href="#"></use>
            </svg>
        </button>
    </div>

</header>
