<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--dedicated">passion</span>
    </h1>
    <div class="hero-link-section">
      <a class="hero-link hero-link__products" href="#products">Products</a>
      <a class="hero-link hero-link__how-made" href="#made">How it’s made?</a>
    </div>
    <div class="subtitle-block">
      <p class="hero__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button
        class="subtitle-block__button"
        type="button"
        aria-label="read more"
      >
        <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/arrow_lg.png    1x,
          ./images/hero/arrow_lg@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/arrow_md.png    1x,
          ./images/hero/arrow_md@2x.png 2x
        "
        type="image/png"
      />

      <img src="./images/hero/arrow_md.png" alt="arrow" />
    </picture>
      </button>
    </div>
    <div class="offices">
      <ul class="offices__list">
        <li class="offices__item">
          <p class="offices__title">
            <span class="offices__title--dedicated">16</span>cafes
          </p>
        </li>
        <li class="offices__item">
          <p class="offices__title">
            <span class="offices__title--dedicated">23</span>food trucks
          </p>
        </li>
      </ul>
    </div>
    <picture class="hero-img__ellipse" aria-label="ellipse">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/ellipse_lg.png    1x,
          ./images/hero/ellipse_lg@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/ellipse_md.png    1x,
          ./images/hero/ellipse_md@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/ellipse_sm.png    1x,
          ./images/hero/ellipse_sm@2x.png 2x
        "
        type="image/png"
      />
      <img src="./images/hero/ellipse_sm.png" alt="ellipse" />
    </picture>
    <picture class="hero-img__ice-cream" aria-label="ice cream">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/ice-cream_lg.png    1x,
          ./images/hero/ice-cream_lg@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/ice-cream_md.png    1x,
          ./images/hero/ice-cream_md@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/ice-cream_sm.png    1x,
          ./images/hero/ice-cream_sm@2x.png 2x
        "
        type="image/png"
      />
      <img src="./images/hero/ice-cream_sm.png" alt="ice-cream" />
    </picture>
    <picture class="hero-img__milk" aria-label="milk">
      <source
        media="(min-width: 1200px)"
        srcset="./images/hero/milk_lg.png 1x, ./images/hero/milk_lg@2x.png 2x"
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="./images/hero/milk_md.png 1x, ./images/hero/milk_md@2x.png 2x"
        type="image/png"
      />
      <img src="./images/hero/milk_md.png" alt="milk" />
    </picture>
    <picture class="hero-img__girl" aria-label="girl">
      <source
        media="(min-width: 1200px)"
        srcset="./images/hero/girl_lg.png 1x, ./images/hero/girl_lg@2x.png 2x"
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="./images/hero/girl_md.png 1x, ./images/hero/girl_md@2x.png 2x"
        type="image/png"
      />
      <img src="./images/hero/girl_md.png" alt="girl" />
    </picture>
  </div>
</section>
