<div class="menu-mobile" menu-mob>
  <button class="btn-menu" type="button" aria-expanded="false" menu-mob-btn>
    <svg width="20" height="12" aria-label="switsh mobile menu">
      <use
        class="btn-menu__icon-open"
        href="./images/icons.svg#icon-burger-open"
      ></use>
      <use
        class="btn-menu__icon-close"
        href="./images/icons.svg#icon-burger-close"
      ></use>
    </svg>
  </button>
  <button class="button button--white button--buy " type="button" data-modal-open--buy>
    <span class="button__title">Buy now</span>
    <svg class="icon__vector" width="4" height="8">
      <use class="vector" href="./images/icons.svg#arrow-right"></use>
    </svg>
  </button>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link nav__link--current" href="./index.html">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./index.html#about">About us</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./index.html#about">How it’s made?</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./index.html#products">Our products</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./index.html#contacts">Contact</a>
      </li>
    </ul>
  </nav>
</div>