<div class="backdrop is-hidden" data-modal--read>
  <div class="modal modal--read">
    <button
      class="modal__btn-close modal__close-btn--read"
      type="button"
      data-modal-close--read
    >
      <svg
        class="modal__close-icon modal__close-icon--read"
        width="18"
        height="18"
      >
        <use href="./images/close.svg#icon-close"></use>
      </svg>
    </button>

    <picture>
      <source
        media="(min-width:768px )"
        srcset="
          ./images/about/modal-read/read-more_md.png    1x,
          ./images/about/modal-read/read-more_md@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width:767px )"
        srcset="
          ./images/about/modal-read/read-more_sm.png    1x,
          ./images/about/modal-read/read-more_sm@2x.png 2x
        "
        type="image/png"
      />
      <img
        class="read-more__img"
        src="./images/about/modal-read/read-more_sm.png"
        alt="man four"
        width="220"
        height="220"
      />
    </picture>
  </div>
</div>
