<div class="backdrop is-hidden" data-modal>
  <div class="modal modal">
    <button class="modal__close-btn" type="button" data-modal-close>CLOSE</button>
    <ul class="modal__list--temp">
      <li>
        <p class="modal__text--temp">modal-temp - це клас шаблону модалки</p>
      </li>
      <li>
        <p class="modal__text--temp">
          modal-buy-now - це клас модалки для кнопки "Buy-now"
        </p>
      </li>
      <li>
        <p class="modal__text--temp">
          modal-read-more - це клас модалки для кнопки "Read more"
        </p>
      </li>
      <li>
        <p class="modal__text--temp">
          modal-our-loc - це клас модалки для кнопки "Our Locations"
        </p>
      </li>
      <li>
        <p class="modal__text--temp">
          modal-franchise - це клас модалки для кнопки "Franchise"
        </p>
      </li>
    </ul>
  </div>
</div>