<section class="products section" id="">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__tittle tittle">products</h2>
    <ul class="products__list card-set list">
      <li class="products__item card-set__item">
        <h3 class="products__subtittle">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn" type="button">button</button>
      </li>
      <li class="products__item card-set__item">
        <h3 class="products__subtittle">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn" type="button">button</button>
      </li>
      <li class="products__item card-set__item">
        <h3 class="products__subtittle">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn" type="button">button</button>
      </li>
    </ul>
  </div>
</section>
