<section class="products section" id="products">
  <div class="container">
    <p class="products__label uppertitle">100% natural</p>
    <h2 class="products__tittle tittle">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--first">
        <div class="products__card">
          <h3 class="products__subtittle">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__detailed is-hidden" text-btn-icecream>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa,
            possimus totam. Deserunt voluptate ad est accusamus magnam at maxime
            cum?
          </p>
        </div>
        <button class="products__btn products__btn--first" type="button" btn-icecream>
          <svg class="btn__icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_products"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--second">
        <div class="products__card">
          <h3 class="products__subtittle">ice coffee</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__detailed is-hidden" text-btn-icecoffee>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis veniam mollitia maiores, unde rerum dignissimos
            voluptatum sapiente odio praesentium corrupti?
          </p>
        </div>
        <button class="products__btn products__btn--second" type="button" btn-icecoffee>
          <svg class="btn__icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_products"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--third">
        <div class="products__card">
          <h3 class="products__subtittle">milkshakes</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__detailed is-hidden" text-btn-milkshakes>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            quo nostrum consequuntur quasi ratione sequi fugiat quod blanditiis
            cupiditate natus!
          </p>
        </div>
        <button class="products__btn products__btn--third btn" type="button" btn-milkshakes>
          <svg class="btn__icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_products"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
