<section class="products section" id="products">
  <div class="container">
    <p class="products__label uppertitle">100% natural</p>
    <h2 class="products__tittle title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--first">
        <div class="products__card">
          <h3 class="products__subtittle">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <ul class="products__price price is-hidden price-icecream">
            <li class="price__item">
              <div class="price__description">Vanilla Ice Cream</div>
              <div class="price__value">4 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Chocolate Ice Cream</div>
              <div class="price__value">4 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Banana Ice Cream</div>
              <div class="price__value">6 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Strawberry Ice Cream</div>
              <div class="price__value">6 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Pineapple Ice Cream</div>
              <div class="price__value">8 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Melon Ice Cream</div>
              <div class="price__value">8 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Pistachio Ice Cream</div>
              <div class="price__value">10 &#36;</div>
            </li>
          </ul>
        </div>
        <button
          class="products__btn products__btn--first btn-icecream"
          type="button"
        >
          <svg class="btn__icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_products"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--second">
        <div class="products__card">
          <h3 class="products__subtittle">ice coffee</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <ul class="products__price price is-hidden price-icecoffee">
            <li class="price__item">
              <div class="price__description">Iced Espresso</div>
              <div class="price__value">5 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Iced Coffee</div>
              <div class="price__value">7 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Cold Brew Coffee</div>
              <div class="price__value">10 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Iced Flat White</div>
              <div class="price__value">12 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Salted Caramel</div>
              <div class="price__value">12 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Chocolate Cream</div>
              <div class="price__value">22 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Iced Vanilla Latte</div>
              <div class="price__value">25 &#36;</div>
            </li>
          </ul>
        </div>
        <button
          class="products__btn products__btn--second btn-icecoffee"
          type="button"
        >
          <svg class="btn__icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_products"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--third">
        <div class="products__card">
          <h3 class="products__subtittle">milkshakes</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <ul class="products__price price is-hidden price-milkshakes">
            <li class="price__item">
              <div class="price__description">Classic Milkshake</div>
              <div class="price__value">7 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Chocolate Milkshake</div>
              <div class="price__value">7 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Caramel Milkshake</div>
              <div class="price__value">10 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Banana Milkshake</div>
              <div class="price__value">15 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Pineapple Milkshake</div>
              <div class="price__value">15 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Mango Milkshake</div>
              <div class="price__value">20 &#36;</div>
            </li>
            <li class="price__item">
              <div class="price__description">Melon Milkshake</div>
              <div class="price__value">25 &#36;</div>
            </li>
          </ul>
        </div>
        <button
          class="products__btn products__btn--third btn btn-milkshakes"
          type="button"
        >
          <svg class="btn__icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_products"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
