<section class="reviews">
  <div class="container">
    <ul class="reviews__list">
      <li class="reviews__item">
        <img class="reviews__img" src="./images/reviews/review-1.png" alt="review-1" width="85" height="85">
        <div class="reviews__text-wrap">
          <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <p class="reviews__name">Emily, Los Angeles</p>
      </li>
      <li class="reviews__item">
        <img class="reviews__img" src="./images/reviews/review-2.png" alt="review-2" width="85" height="85">
        <div class="reviews__text-wrap">
          <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <p class="reviews__name">Katy, New York</p>
      </li>
      <li class="reviews__item">
        <img class="reviews__img" src="./images/reviews/review-3.png" alt="review-3" width="85" height="85">
        <div class="reviews__text-wrap">
          <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <p class="reviews__name">Lora, Chicago</p>
      </li>
    </ul>
  </div>
</section>