<section class="reviews">
  <div class="container">
    <ul class="reviews__list">
      <li class="reviews__item">
        <img class="reviews__img" src="./images/reviews/review-1.png" alt="review-1" width="85" height="85">
        <div class="reviews__text-wrap">
          <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <p class="reviews__name">Emily, Los Angeles</p>
      </li>
      <li class="reviews__item">
        <img class="reviews__img" src="./images/reviews/review-2.png" alt="review-2" width="85" height="85">
        <div class="reviews__text-wrap">
          <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <p class="reviews__name">Katy, New York</p>
      </li>
      <li class="reviews__item">
        <img class="reviews__img" src="./images/reviews/review-3.png" alt="review-3" width="85" height="85">
        <div class="reviews__text-wrap">
          <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <p class="reviews__name">Lora, Chicago</p>
      </li>
    </ul>
    <button class="modal__open-btn--temp" type="button" data-modal-open>Відкити шаблон - modal-temp</button>
    <button class="modal__open-btn--buy" type="button" data-modal-buy-open>Відкити модалку для кнопки "Buy-now"</button>
    <button class="modal__open-btn--read" type="button" data-modal-read-open>Відкити модалку для кнопки "Read more"</button>
    <button class="modal__open-btn--locations" type="button" data-modal-locations-open>Відкити модалку для кнопки "Our Locations"</button>
    <button class="modal__open-btn--franchise" type="button" data-modal-franchise-open>Відкити модалку для кнопки "Franchise"</button>
  </div>
</section>