<section class="reviews">
  <div class="container">
    <ul class="reviews__list">
      <li class="reviews__item">
        <!-- <img src="" alt=""> -->
        <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </li>
      <li class="reviews__item">
        <!-- <img src="" alt=""> -->
        <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </li>
      <li class="reviews__item">
        <!-- <img src="" alt=""> -->
        <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </li>
    </ul>
  </div>
</section>