 
    .button {
        @media screen and (max-width: 767px) {
            display: none;
            }
        
            background: var(--color__w);
        border-radius: 22px;
        
        &__header {
            @media screen and (min-width: 1200px) {
              margin-left: 0;
                }
            margin-left: 32px;
            width: 160px;
            height: 44px;
        }
        &__header:hover {
            cursor: pointer;
       background-color: var(--color__btn-hover-bg);
        }
        &__title{
            font-weight: 700;
        color: var(--color__accent-first);
            padding-right: 12px;
        }
    
        }

