 .button {
   @extend %flex;
   height: 44px;

   border-radius: 22px;

   &--white {
      color: var(--color__accent-first);

      background-color: var(--color__w);

      &:hover,
      &:focus {
         background-color: var(--color__btn-hover-bg);
      }
   }

   &--accent {
      color: var(--color__w);

      background-color: var(--color__accent-first);

      &:hover,
      &:focus {
         background-color: var(--color__btn-hover-bg2);
      }
   }
 }