.mobile-menu {
	@media screen and (min-width: 768px) {
		max-width: 254px;
		}
	
    position: fixed;
	top: 0;
	right: 0;
    padding: 60px 20px 20px;
	z-index: 100;
	transform: translateX(100%);
	max-width: 250px;
	// width: 100vw;
	height: 100vh;
	
	display: flex;
	flex-direction: column;

	background-color:var(--color__mob-menu-bg);
	transition: transform 500ms;
	&.is-open {
		transform: translateX(0);
	}
	filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
	
}
.nav-mobile__link {
	display: block;
font-weight: 700;
font-size: 14px;
line-height: 1.29;
color:var( --color__w);
padding: 12px 20px;
}
.nav-mobile__list {
    display: flex;
    flex-direction: column;
	border-top: 1px solid var(--color__mob-menu-line);
    border-bottom: 1px solid var(--color__mob-menu-line);
    margin-top: 19px;
    margin-left: -20px;
    margin-right: -20px;
    
}
.nav-mobile__item:not(:last-child) {
    border-bottom: 1px solid var(--color__mob-menu-line);
}
.nav-mobile__link:hover,
.nav-mobile__link:focus {
  cursor: pointer;
  color: var( --color__accent-first);
}
.nav-mobile__link--current {
  color: var( --color__accent-first);
}