.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 90px 90px;

  background-color: rgba(0, 0, 0, 0.3);
  transition: transform var(--main__transition), opacity var(--main__transition),
  visibility var(--main__transition);
  opacity: 1;
  overflow-y: scroll;
  z-index: 10;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    padding: 90px 16px;
  }
}

.modal {
  display: flex;
  width: 100%;
  // height: 100%;
  max-width: 480px;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 16px 16px;

  border-radius: var(--border-radius__main);
  background-color: var(--color__footer-bg);

  transform: scaleX(1);
  transition: transform var(--main__transition);

  @media screen and (min-width: 480px) {
    padding: 44px;
    width: 480px;
  }

  @media screen and (min-width: 1200px) {
    width: 600px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(1.2);
}

.modal-btn__open {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  font-family: inherit;
  color: var(--color__w);

  background-color: var(--color__accent-first);
  box-shadow: 0px 4px 4px var(--color__b);
  border-radius: 4px;
  border-width: 0px;
  transition: background-color var(--main__transition);

  &:hover,
  &:focus {
    background-color: var(--color__accent-second);
  }
}

.modal-btn__close {
  position: absolute;
  z-index: 1;

  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;

  background: transparent;
  border: 1px solid var(--color__b);
  border-radius: 50%;
}

.modal__title {
  font-size: 32px;
  padding-bottom: 16px;
}

.modal__input {
  width: 100%;
  height: 40px;

  padding-left: 40px;

  border: 1px solid var(--color__line);
  border-radius: 4px;
}

.modal__input:focus,
.modal-coment:focus {
  border: 1px solid var(--color__accent-second);
  transition: var(--main__transition);
}

.modal__input:focus+.label__icons {
  fill: var(--accent-color);
  transition: var(--main__transition);
}

.modal__input:focus~.label__icons {
  fill: #b5101b;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: var(--color__contact);
}

.modal__label:not(:last-child) {
  display: flex;
  margin-bottom: 4px;
}

.modal__label-wrap {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.modal__label-wrap .label__icons {
  position: absolute;
  bottom: 8px;
  left: 14px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;

  transform: translateY(-50%);
}

.modal-coment::placeholder {
  margin-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-lable-coment {
  display: block;
  margin-top: 8px;
}

.modal-coment {  
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  padding-top: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;


  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.check-label {
  display: block;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.form-checkbox-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 3px;
  outline: 2px solid var(--color__contact);
  outline-offset: -2px;
  border-radius: 2px;
  transition: var(--main__transition);
}

.checkbox-lable:checked+.form-checkbox-custom {
  background-color: var(--color__icon-home);
  outline: 2px solid var(--color__icon-home);
}

.checkbox-icon {
  cursor: pointer;
  fill: var(--color__b);
}

.form-checkbox-agreement {
  text-align: center;
  font-size: 12px;
  line-height: 1.71px;
  color: var(--color__contact);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.conditions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--color__icon-home);
}

.modal-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 55px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31px;
  color: var(--color__w);
  cursor: pointer;
  text-align: center;

  background: var(--color__accent-first);
  border-radius: 22px;

  transition: 500ms;

  width: 161px;
  height: 44px;
  border-color: transparent;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal-submit:focus,
.modal-submit:hover {
  background: var(--color__btn-hover-bg2);
  transition: var(--main__transition);
}