

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 90px 90px;

  background-color: rgba(0, 0, 0, 0.3);
  transition: transform var(--main__transition), opacity var(--main__transition),
  visibility var(--main__transition);
  opacity: 1;
  overflow-y: scroll;
  z-index: 10;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    padding: 90px 16px;
  }
}

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 480px;
  min-height: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;

  border-radius: var(--border-radius__main);
  background-color: var(--color__footer-bg);

  transform: scaleX(1);
  transition: transform var(--main__transition);

  @media screen and (min-width: 768px) {
    padding: 28px;
    width: 480px;
    height: 640px;
  }

  @media screen and (min-width: 1200px) {
    width: 600px;
    height: 600px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(1.2);
}

.modal-btn__open {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  font-family: inherit;
  color: var(--color__w);

  background-color: var(--color__accent-first);
  box-shadow: 0px 4px 4px var(--color__b);
  border-radius: 4px;
  border-width: 0px;
  transition: background-color var(--main__transition);

  &:hover,
  &:focus {
    background-color: var(--color__accent-second);
  }
}

.modal-btn__close {
  position: absolute;
  z-index: 1;

  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  background: transparent;
  border: 1px solid var(--color__b);
  border-radius: 50%;
}

// .modal__map-frame {
//   position: absolute;
//   top: -60px;
// }
