.nav {
    margin-right: auto;
    
    @media screen and (max-width: 1199px) {
      display: none;
    }
    display: flex;

    &__item:not(:last-child) {
        margin-right: 35px;
      }

      &__link { 
        font-weight: 700;
        align-items: center;
        color:var( --color__w);
        }

        &__link:hover,
        &__link:focus {
          cursor: pointer;
          color: var( --color__accent-first);
        }
        &__link--current {
          color: var( --color__accent-first);
        }
        &__list {
          display: flex;
          margin-left: 128px;
          align-items: center;
        }
        
  }


