.advantages {
  background-color: var(--color__footer-bg);
}

.advantages__list {
  display: flex;
  gap: 32px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 32px;
  }

  @media screen and (min-width: 768px) {
    gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    gap: 136px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media screen and (min-width: 768px) {
    gap: 12px;
  }

  @media screen and (min-width: 1200px) {
    gap: 16px;
  }
}

.advantages__number {  
  font-family: var(--font-f__secondary);
  font-size: 36px;
  line-height: (41px / 36px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color__accent-first);

  @media screen and (max-width: 767px) {
    margin-bottom: 5px;
  }
}

.advantages__text {  
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: var(--color__b);
  @media screen and (min-width: 768px) {
    width: 180px;
  }

  @media screen and (min-width: 1200px) {
    width: 288px;
  }
}

.advantages__item:nth-of-type(1)::before {
  @media screen and (min-width: 768px) {
    width: 50px;
    background-image: url(..//..//images/advantages/advantage-1_md.png),
      url(..//..//images/advantages/advantage-1_md@2x.png);
  }

  content: '';
  width: 33px;
  height: 50px;
  background-image: url(../images/advantages/advantage-1_sm.png),
    url(../images/advantages/advantage-1_sm@2x.png);
  background-position: center;
  background-size: cover;
  display: block;
}

.advantages__item:nth-of-type(2)::before {
  @media screen and (min-width: 768px) {
    background-image: url(..//..//images/advantages/advantage-2_md.png),
      url(..//..//images/advantages/advantage-2_md@2x.png);
  }

  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/advantage-2_sm.png),
    url(../images/advantages/advantage-2_sm@2x.png);
  background-position: center;
  background-size: cover;
  display: block;
}

.advantages__item:nth-of-type(3)::before {
  @media screen and (min-width: 768px) {
    background-image: url(..//..//images/advantages/advantage-3_md.png),
      url(..//..//images/advantages/advantage-3_md@2x.png);
  }

  content: '';
  width: 44px;
  height: 50px;
  background-image: url(../images/advantages/advantage-3_sm.png),
    url(..//..//images/advantages/advantage-3_sm@2x.png);
  background-position: center;
  background-size: cover;
  display: block;
}