.advantages__section {
    background-color: var(--color__footer-bg);
}

.advantages__number {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    width: 98px;
    height: 56px;
    margin-bottom: auto;
    text-transform: uppercase;
    color: var(--color__accent-first);
}

.advantages__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 170%;
    color: var(--color__b); 
}
