.header {
  padding-top: 8px;

  background-color: var(--color__products-1);

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 37px;
  }
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199px) {
    justify-content: space-between;

    body.mobile-menu-open & {
      justify-content: start;
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    margin-left: 128px;
  }
}

.nav {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 35px;

  // @media screen and (max-width: 1199px) {
  //   flex-direction: column;
  // }
}

.nav__link {
  font-weight: 700;
  align-items: center;
  color: var(--color__w);

  &__link:hover,
  &__link:focus {
    cursor: pointer;
    color: var(--color__accent-first);
  }

  &__link--current {
    color: var(--color__accent-first);
  }
}

.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  background-color: transparent;

  & .btn-menu__icon-close {
    display: none;
  }
  
  &.is-open .btn-menu__icon-close {
    display: block;
  }
  
  &.is-open:hover .btn-menu__icon-close,
  &.is-open:focus .btn-menu__icon-close {
    fill: currentColor;
  }
  
  &.is-open .btn-menu__icon-open {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 32px;

    &.is-open {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  .menu-container > &.is-open {
    display: none;
  }
}

.button--buy {
  width: 160px;
  
  background: var(--color__w);

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.button__title {
  // padding-right: 12px;

  font-weight: 700;
  color: var(--color__accent-first);
}