.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 8px;

  @media screen and (min-width: 1200px) {
    padding-top: 55px;
    padding-bottom: 35px;
  }
}